@use "../libs/pxtorem.scss" as *;

// Font
$fontFamily: "DM Sans", sans-serif;
$fontFamilyManrope: "Manrope", sans-serif;
$fontSize: rem(16);

// Colors
$whiteColor: #fff;
$whiteDarkerColor: #F5F5F5;
$lightGrayColor: #B8B8B8;
$bgColor: #151515;
$rateColor: #FEC84B;
$discordColor: #5765F2;
$darkGreyColor: #292929;
$mainOrangeColor: #FF4A2A;

// Breakpoints
$laptopL: rem(1439.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);