@use "../libs/pxtorem.scss" as *;

// Font
$fontFamily: "DM Sans", sans-serif;
$fontSize: rem(16);

// Colors
$whiteColor: #fff;
$whiteDarkerColor: #F5F5F5;
$bgColor: #151515;
$rateColor: #FEC84B;
$discordColor: #5765F2;
$darkGreyColor: #292929;
$mainOrangeColor: #FF4A2A;

// Breakpoints
$pc: rem(1318); // PCs, laptops, some tablets in a horizontal position
$tablet: rem(991.98); // Tablets, some phones in a horizontal position
$mobile: rem(767.98); // Phones L
$mobileSmall: rem(359.98); // Phones S