@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;

.build {
	padding: clamp(rem(48), 5vw, rem(96)) 0;
	position: relative;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: clamp(rem(32), 5vw, rem(64));
	}

	&__picture {
		padding: rem(39) 0;
		position: relative;
		flex: 1 1 50%;
	}

	&__image {
		width: 100%;
		border-radius: rem(30);
		object-fit: cover;
		height: rem(560);
	}

	&__content {
		max-width: rem(560);
		flex: 1 1 50%;
	}

	&__label {
		margin-bottom: rem(12);
	}

	&__title {
		margin-bottom: rem(12);
	}

	&__text {
		font-size: rem(20);
		line-height: 1.75;
		color: rgba(242, 242, 242, 0.73);
		margin-bottom: clamp(rem(16), 5vw, rem(32));
	}

	&__stats {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(264), 1fr));
		column-gap: clamp(rem(16), 5vw, rem(32));
		row-gap: clamp(rem(24), 5vw, rem(48));
		margin-bottom: rem(32);
	}
	&__decor {
		position: absolute;
		width: clamp(rem(40), 35vw, rem(215));
		height: auto;
		bottom: -5%;
		left: -6%;
		animation: slowImageRotation 3.4s infinite ease-in-out;
		pointer-events: none;
		z-index: 10;
	}
}
.stat-build {
	&__number {
		font-weight: 500;
		font-size: clamp(rem(32), 5vw, rem(60));
		line-height: 1.2;
		letter-spacing: -0.02em;
		font-family: $fontFamilyManrope;
		margin-bottom: rem(12);
	}

	&__name {
		font-family: $fontFamilyInter;
		font-weight: 600;
		font-size: clamp(rem(14), 5vw, rem(18));
		line-height: 1.55556;
		color: $whiteDarkerColor;
	}
}

.marquee-build {
	box-shadow: 0 4px 11px 5px rgba(0, 0, 0, 0.15);
	background: $darkGreyColor;
	width: 200vw;
	padding: rem(25) rem(12);
	overflow: hidden;
	position: absolute;
	user-select: none;
	left: 50%;
	bottom: -5%;
	transform: translateX(-50%) rotate(7deg);
	white-space: nowrap;
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: rem(40);
		animation: marqueeScroll 100s infinite linear;
		width: max-content;
	}
	&__item {
		font-weight: 500;
		font-size: rem(17);
		line-height: 1;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		span {
			margin-left: rem(5);
		}
	}
	&:last-child {
		bottom: -2%;
		transform: translateX(-50%) rotate(2deg);
		.marquee-build__list {
			animation-direction: reverse;
		}
	}
}

@media screen and (max-width: $laptopL) {
	.build {
		&__stats {
			grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
		}
	}
}

@media screen and (max-width: $laptop) {
	.build {
		&__container {
			flex-direction: column;
		}
		&__picture {
			width: 100%;
			order: 2;
		}
	}
}

@media screen and (max-width: $tablet) {
	.build {
		&__stats {
			grid-template-columns: repeat(auto-fit, minmax(rem(128), 1fr));
		}
		&__picture {
			padding: unset;
		}
		&__image {
			height: rem(320);
		}
		&__button {
			width: 100%;
		}
	}
}
