@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;


.header {
	border-bottom: 1px solid rgba(254, 237, 236, 0.09);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(15) rem(9);
	}

	&__main {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(14), 2.5vw, rem(28));
	}

	&__logo {
		line-height: 145%;
		letter-spacing: 0.11em;
		text-transform: uppercase;
		color: $whiteDarkerColor;
		position: relative;
		padding-left: rem(9);
		transition: 0.4s all;
		&::before {
			content: "";
			position: absolute;
			width: rem(6);
			height: rem(6);
			border-radius: 50%;
			background: $whiteDarkerColor;
			top: 50%;
			left: rem(-1);
			transform: translateY(-50%);
            transition: .4s all;
		}
		@media screen and (min-width: $tablet) {
			&:hover {
				color: $mainOrangeColor;
				&::before {
					background: $mainOrangeColor;
                    left: rem(-5);
				}
			}
		}
	}

	&__counter {
		font-size: rem(14);
		line-height: 1.42857;
		letter-spacing: -0.01em;
		color: $whiteDarkerColor;
		background: rgba(41, 41, 41, 0.69);
		border: rem(1) solid rgba(255, 255, 255, 0.05);
		border-radius: rem(500);
		padding: rem(17) rem(20);
		width: rem(197);
		height: rem(42);
		display: flex;
		align-items: center;
		column-gap: rem(16);
		span {
			display: inline-block;
			border-radius: 100%;
			background: #47ff29;
			width: rem(8);
			height: rem(8);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: rem(18);
				height: rem(18);
				background: rgba(24, 133, 8, 0.5);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				animation: circleScale 3.2s infinite linear;
			}
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(14), 2.5vw, rem(28));
	}

	&__actions {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(8), 2vw, rem(16));
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(20), 3.5vw, rem(43));
	}

	&__link {
		line-height: 125%;
		letter-spacing: -0.01em;
		color: $whiteDarkerColor;
		transition: 0.4s all;
		@media screen and (min-width: $tablet) {
			&:hover {
				color: $mainOrangeColor;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.header {
		&__counter {
			width: auto;
			font-size: 0;
			column-gap: rem(8);
			&::after {
				content: "458";
				font-size: rem(14);
			}
		}
	}
}