@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;

.header {
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: rem(1) solid rgba(254, 237, 236, 0.09);
	background-color: $bgColor;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(15) rem(9);
	}

	&__main {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(14), 2.5vw, rem(28));
	}

	&__logo {
		line-height: 145%;
		letter-spacing: 0.11em;
		text-transform: uppercase;
		color: $whiteDarkerColor;
		position: relative;
		padding-left: rem(9);
		transition: 0.4s all;
		z-index: 10;
		&::before {
			content: "";
			position: absolute;
			width: rem(6);
			height: rem(6);
			border-radius: 50%;
			background: $whiteDarkerColor;
			top: 50%;
			left: rem(-1);
			transform: translateY(-50%);
			transition: 0.4s all;
		}
		@media screen and (min-width: $tablet) {
			&:hover {
				color: $mainOrangeColor;
				&::before {
					background: $mainOrangeColor;
					left: rem(-5);
				}
			}
		}
	}

	&__counter {
		font-size: rem(14);
		line-height: 1.42857;
		letter-spacing: -0.01em;
		color: $whiteDarkerColor;
		background: rgba(41, 41, 41, 0.69);
		border: rem(1) solid rgba(255, 255, 255, 0.05);
		border-radius: rem(500);
		padding: rem(17) rem(20);
		width: rem(197);
		height: rem(42);
		display: flex;
		align-items: center;
		column-gap: rem(16);
		span {
			display: inline-block;
			border-radius: 100%;
			background: #47ff29;
			width: rem(8);
			height: rem(8);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: rem(18);
				height: rem(18);
				background: rgba(24, 133, 8, 0.5);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				animation: circleScale 3.2s infinite linear;
			}
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(14), 2.5vw, rem(28));
	}
}
.menu {
	&__list {
		display: flex;
		align-items: center;
		column-gap: clamp(rem(20), 3.5vw, rem(43));
	}

	&__link {
		line-height: 125%;
		letter-spacing: -0.01em;
		color: $whiteDarkerColor;
		transition: 0.4s all;
		@media screen and (min-width: $tablet) {
			&:hover {
				color: $mainOrangeColor;
			}
		}
	}
}

.actions-header {
	display: flex;
	align-items: center;
	column-gap: clamp(rem(8), 2vw, rem(16));
}

.burger {
	display: none;
}

@media screen and (max-width: $laptop) {
	.header {
		&__counter {
			display: none;
		}
	}
}

@media screen and (max-width: $tablet) {
	.burger {
		z-index: 10;
		display: block;
		position: relative;
		width: rem(26);
		height: rem(26);
		cursor: pointer;
		transition: all .3s ease-in-out;
		span {
			width: rem(10);
			height: rem(10);
			position: absolute;
			border-radius: 50%;
			background-color: $whiteDarkerColor;
			transition: transform .4s ease-in-out;
			transform: scale(1);
			&:nth-child(1) {
				top: 0;
				left: 0;
			}
			&:nth-child(2) {
				top: 0;
				right: 0;
			}
			&:nth-child(3) {
				left: 0;
				bottom: 0;
			}
			&:nth-child(4) {
				right: 0;
				bottom: 0;
			}
		}
	}
	.header {
		&.header__navigation_active {
			.burger {
				transform: rotate(-225deg);
				span {
					&:nth-child(1) {
						transform:  translate(rem(2), rem(2));
					}
					&:nth-child(2) {
						transform:  translate(rem(-2), rem(2));
					}
					&:nth-child(3) {
						transform:  translate(rem(2), rem(-2));
					}
					&:nth-child(4) {
						transform:  translate(rem(-2), rem(-2));
					}
				}
			}
			.header__navigation {
				right: 0;
				opacity: 1;
				pointer-events: all;
			}
		}
		&__counter {
			display: none;
		}
		&__navigation {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $bgColor;
			padding: rem(100) rem(30) rem(30) rem(30);
			transition: all 0.4s ease-in-out;
			opacity: 0;
			pointer-events: none;
			overflow: auto;
			flex-direction: column;
			row-gap: rem(38);
			right: -100%;
		}
	}
	.menu {
		&__list {
			flex-direction: column;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: rem(32);
			}
		}
		&__link {
			font-size: rem(34);
		}
	}
	
	.actions-header {
		flex-direction: column;
		row-gap: rem(16);
	}
}
