@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;


.hero {
    position: relative;
	&__container {
		min-height: calc(100vh - rem(82));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__title {
		font-family: $fontFamilyManrope;
		font-size: clamp(rem(36), 5vw, rem(72));
		line-height: 130%;
		width: clamp(rem(300), 60vw, rem(890));
		margin-top: rem(8);
		font-weight: 400;
	}

	&__text {
		margin-top: rem(8);
		font-family: $fontFamilyManrope;
		font-size: clamp(rem(16), 3vw, rem(20));
		line-height: 175%;
		width: clamp(rem(300), 60vw, rem(676));
	}

	&__action {
		margin: rem(28) 0 rem(8) 0;
		display: flex;
		align-items: center;
		justify-content: center;
		.hero__link-wrapper {
			display: flex;
			align-items: center;
		}
		@media screen and (min-width: $tablet) {
            &:hover {
                .hero__button {
                    background: #f7320f;
                }
                .hero__arrow {
                    background: #f7320f;
                    img {
                        animation: shakeImage 0.2s infinite;
                    }
                    &::before {
                        background: #f7320f;
                    }
                }
            }
        }
	}
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(52);
		height: rem(52);
		cursor: pointer;
		background: $mainOrangeColor;
		border-radius: 50%;
		position: relative;
		transition: 0.5s all;
		&::before {
			content: "";
			position: absolute;
			width: rem(27);
			height: rem(22);
			background: $mainOrangeColor;
			left: -30%;
			top: 50%;
			transform: translateY(-50%);
            transition: .4s all;
		}
	}

	&__trust {
		color: $lightGrayColor;
		line-height: 219%;
	}
    &__decor {
        position: absolute;
        top: calc(-5% - 3rem);
        right: -5%;
        width: clamp(rem(170), 20vw, rem(352));
        height: auto;
        animation: slowImageRotation 10s infinite ease-in-out;
        pointer-events: none;
    }
}
.reviews-hero {
	&__icon {
		font-size: rem(20);
		color: $rateColor;
		&:last-child {
			background: linear-gradient(to right, $rateColor 50%, $darkGreyColor 50%);
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}
	}

	&__rate {
		display: flex;
		align-items: center;
		gap: clamp(rem(4), 2vw, rem(8));
		margin-bottom: rem(4);
	}

	&__text {
		color: $lightGrayColor;
	}
}

