@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;

.profiles {
	&__wrapper {
		overflow: hidden;
		width: 100vw;
		pointer-events: none;
	}

	&__items {
		display: flex;
		align-items: center;
		width: max-content;
		flex-wrap: nowrap;
		animation: marqueeImages 60s infinite linear;
		&:last-child {
			animation-direction: reverse;
		}
	}
}
.item-profiles {
	position: relative;
	width: rem(200);
	height: rem(200);
	&__img {
		max-width: 100%;
		aspect-ratio: 200 / 200;
		object-fit: cover;
		height: 100%;
	}

	&__info {
		position: absolute;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(rem(19));
		background: rgba(21, 21, 21, 0.37);
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: rem(3) rem(16);
	}

	&__name {
		font-weight: 500;
		line-height: 150%;
	}

	&__country {
		color: $lightGrayColor;
		font-size: rem(14);
		line-height: 120%;
		span {
			margin-left: rem(4);
		}
	}
}
