@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;

.world {
    padding: clamp(rem(48), 5vw, rem(96)) 0;
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__label {
        margin-bottom: rem(12);
    }

    &__title {
        margin-bottom: clamp(rem(32), 6vw, rem(64));
    }

    &__map {
    }

    &__img {
        max-width: 100%;
    }
}
.label {
}
.title {
}
