@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../animation/animation.scss" as *;

.button {
	width: rem(268);
	padding: rem(16) rem(32);
	background: $mainOrangeColor;
	color: $whiteColor;
	font-size: rem(18);
	line-height: 125%;
	text-align: center;
	border-radius: rem(68);
	text-transform: capitalize;
	cursor: pointer;
	transition: 0.4s all;
	position: relative;
	img {
		transition: 0.4s all;
	}

	@media screen and (min-width: $tablet) {
		&:hover {
			background: #f7320f;
			img {
				animation: shakeImage 0.2s infinite;
			}
		}
	}
	&--discord {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: center;
		background: linear-gradient(
				180deg,
				rgba(190, 190, 190, 0.15),
				rgba(255, 255, 255, 0) 84%
			),
			rgb(87, 101, 242);
		&-small {
			font-weight: 700;
			font-size: 1rem;
			width: rem(141);
			padding: rem(16) rem(26);
		}
		@media screen and (min-width: $tablet) {
			&:hover {
				background: linear-gradient(
						180deg,
						rgba(190, 190, 190, 0.15),
						rgba(255, 255, 255, 0) 84%
					),
					rgb(101, 24, 243);
			}
		}
	}
	&--dark {
		font-weight: 700;
		font-size: 1rem;
		padding: rem(16) rem(26);
		background: $darkGreyColor;
		width: rem(176);
		&-small {
			width: rem(129);
			padding: rem(11) rem(26);
		}
		@media screen and (min-width: $tablet) {
			&:hover {
				background: $whiteDarkerColor;
				color: $darkGreyColor;
			}
		}
		&-white {
			background: $whiteColor;
			border: 1px solid $darkGreyColor;
			width: rem(277);
			color: $bgColor;
			font-weight: 500;
			padding: rem(11) rem(26);
			@media screen and (min-width: $tablet) {
				&:hover {
					background: $mainOrangeColor;
					color: $whiteDarkerColor;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.button {
		width: clamp(rem(140), 70vw, rem(268));
	}
}
