@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;

.title {
	color: $whiteColor;
	font-family: "Manrope", sans-serif;
	font-size: clamp(rem(28), 5vw, rem(48));
	font-weight: 400;
	line-height: normal;
	&--center {
		text-align: center;
	}
}

.label {
	line-height: 1.5;
	color: #f99280;
}
