@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;

.title {
	color: $whiteColor;
	font-family: $fontFamilyManrope;
	font-size: clamp(rem(32), 5vw, rem(48));
	font-weight: 400;
	line-height: normal;
	&--center {
		text-align: center;
	}
}

.label {
	line-height: 1.5;
	color: #f99280;
	&--center {
		text-align: center;
	}
}
